


<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
  <div class="am-topbar-brand">
    <strong>Amaze UI</strong> <small>后台管理模板</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
  </div>
</header>

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页</a></li>
        <li class="admin-parent">
          <a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
            <li><a href="admin-user.html" class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a></li>
            <li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
            <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>
          </ul>
        </li>
        <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
        <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
        <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。—— Amaze UI</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze UI wiki!</p>
        </div>
      </div>
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding am-padding-bottom-0">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">关键词管理</strong> / <small>列表</small></div>
      </div>

      <hr>

      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0, width: 600, height: 700}" id="newBtn"><span class="am-icon-plus"></span> 新增</button>
              <!--
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-save"></span> 保存</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-archive"></span> 审核</button>
              <button type="button" class="am-btn am-btn-default"><span class="am-icon-trash-o"></span> 删除</button>
              -->
            </div>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}" id="searchType" onchange="changeSearchType();">
              <option value="__">全部</option>
              <option value="空调">空调</option>
              <option value="电视">电视</option>
              <option value="电灯">电灯</option>
              <option value="窗帘">窗帘</option>
            </select>
            <select data-am-selected="{btnSize: 'sm'}" id="searchSubType">
              <option value="">全部</option>
            </select>
          </div>
        </div>
        <div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" id="searchAction">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" onclick='searchWords();'>搜索</button>
          </span>
          </div>
        </div>
      </div>

      <div class="am-g">
        <div class="am-u-sm-12">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                  <th class="table-title">单词</th>
                  <th class="table-type">设备</th>
                  <th class="table-type">设备分数</th>
                  <th class="table-type">类别</th>
                  <th class="table-type">类别分数</th>
                  <th class="table-type">动作</th>
                  <th class="table-type">动作分数</th>
                  <th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
              {{#each list}}
                <tr>
                  <td><input type="checkbox" /></td>
                  <td>{{this.word}}</td>
                  <td>{{this.type}}</td>
                  <td>{{this.score}}</td>
                  <td>{{this.subType}}</td>
                  <td>{{this.subScore}}</td>
                  <td>{{this.action}}</td>
                  <td>{{this.actionScore}}</td>
                  <td>
                    <div class="am-btn-toolbar">
                      <div class="am-btn-group am-btn-group-xs">
                        <button class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="editWord('{{this._id}}');"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                        <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="removeWord('{{this._id}}');"><span class="am-icon-trash-o"></span> 删除</button>
                      </div>
                    </div>
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
            <div class="am-cf">
              共 {{count}} 条记录 当前第 {{currentPage}} 页
              <div class="am-fr">
                <ul class="am-pagination">
                  <li><a href="/list?page={{prev}}">«</a></li>
                  {{#each pageList}}
                    <li {{#if this.isActive}}class="am-active"{{/if}}><a href="/list?page={{this.page}}">{{this.page}}</a></li>
                  {{/each}}
                  <li><a href="/list?page={{next}}">»</a></li>
                </ul>
              </div>
            </div>
        </div>

      </div>
    </div>

    <footer class="admin-content-footer">
      <hr>
      <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
    </footer>

  </div>
  <!-- content end -->
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<footer>
  <hr>
  <p class="am-padding-left">© 2014 AllMobilize, Inc. Licensed under MIT license.</p>
</footer>

<div class="am-modal am-modal-no-btn" tabindex="-1" id="doc-modal-1">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">新增词汇
      <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
    </div>
    <div class="am-modal-bd">
      <form class="am-form">
  <fieldset>
    <div class="am-form-group">
      <label for="word">词汇</label>
      <input type="hidden" id="_id"/>
      <input type="text" class="" id="word" placeholder="输入词汇">
    </div>

    <div class="am-form-group">
      <label for="type">设备</label>
      <select id="type">
        <option value="">请选择</option>
        <option value="空调">空调</option>
        <option value="电视">电视</option>
        <option value="电灯">电灯</option>
        <option value="窗帘">窗帘</option>
      </select>
      <span class="am-form-caret"></span>
    </div>

    <div class="am-form-group">
      <label for="score">设备分数</label>
      <input type="text" class="" id="score" placeholder="输入设备分数">
    </div>

    <div class="am-form-group">
      <label for="subType">类别</label>
     <select id="subType">
        <option value="">请选择</option>
     </select>
    </div>

    <div class="am-form-group">
      <label for="subScore">类别分数</label>
      <input type="text" class="" id="subScore" placeholder="输入类别分数">
    </div>

    <div class="am-form-group">
      <label for="action">动作</label>
     <select id="action">
        <option value="">请选择</option>
     </select>
    </div>

    <div class="am-form-group">
      <label for="actionScore">动作分数</label>
      <input type="text" class="" id="actionScore" placeholder="输入动作分数">
    </div>

    <p><button type="button" class="am-btn am-btn-default" onclick="saveWord();">提交</button></p>
  </fieldset>
</form>
    </div>
  </div>
</div>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script>

$(function() {
  $("#type").on("change", changeType);
  $("#subType").on("change", changeSubType);
});

$("#searchType").val('{{searchType}}');
var searchType = $("#searchType").val();
$.post("/getSubTypes", {type:searchType}, function(data) {
  var html = "<option value='__'>全部</option>";
  for(var i=0;i<data.length;i++) {
    var option = data[i];
    html += "<option value='" + option + "'>" + option + "</option>";
  }

  $("#searchSubType").html(html);
  $("#searchSubType").val('{{searchSubType}}');
});
$("#searchAction").val("{{searchAction}}");

function changeType() {
  var type = $("#type").val();
  $.post("/getSubTypes", {type:type}, function(data) {
    var html = "<option value=''>全部</option>";
    for(var i=0;i<data.length;i++) {
      var option = data[i];
      html += "<option value='" + option + "'>" + option + "</option>";
    }

    $("#subType").html(html);
  });
}

function changeSearchType() {
  var searchType = $("#searchType").val();
  $.post("/getSubTypes", {type:searchType}, function(data) {
    var html = "<option value='__'>全部</option>";
    for(var i=0;i<data.length;i++) {
      var option = data[i];
      html += "<option value='" + option + "'>" + option + "</option>";
    }

    $("#searchSubType").html(html);
  });
}

function changeSubType() {
  var subType = $("#subType").val();
  var type = $("#type").val();
  $.post("/getActions", {subType:subType, type:type}, function(data) {
    var html = "<option value=''>全部</option>";
    for(var i=0;i<data.length;i++) {
      var option = data[i];
      var value = option;

      if(option === "T_D0") {
        value = "数字键0";
      } else if(option === "T_D1") {
        value = "数字键1";
      } else if(option === "T_D2") {
        value = "数字键2";
      } else if(option === "T_D3") {
        value = "数字键3";
      } else if(option === "T_D4") {
        value = "数字键4";
      } else if(option === "T_D5") {
        value = "数字键5";
      } else if(option === "T_D6") {
        value = "数字键6";
      } else if(option === "T_D7") {
        value = "数字键7";
      } else if(option === "T_D8") {
        value = "数字键8";
      } else if(option === "T_D9") {
        value = "数字键9";
      } else if(option === "T_OK") {
        value = "确认";
      } else if(option === "T_HOME") {
        value = "主页";
      } else if(option === "T_RETURN") {
        value = "返回";
      } else if(option === "T_MENU") {
        value = "菜单";
      } else if(option === "T_RIGHT") {
        value = "右";
      } else if(option === "T_LEFT") {
        value = "左";
      } else if(option === "T_UP") {
        value = "上";
      } else if(option === "T_MUTE") {
        value = "静音";
      } else if(option === "T_DOWN") {
        value = "下";
      } else if(option === "1") {
        value = "自动";
      } else if(option === "2") {
        value = "小风";
      } else if(option === "3") {
        value = "中风";
      } else if(option === "4") {
        value = "大风";
      }


      html += "<option value='" + option + "'>" + value + "</option>";
    }

    $("#action").html(html);
  });
}

function editWord(_id) {
  $.post("/editWord", {_id:_id}, function(data) {
    $("#_id").val(_id);
    $("#word").val(data.word);
    $("#type").val(data.type);
    $.post("/getSubTypes", {type:data.type}, function(a) {
      var html = "<option value=''>全部</option>";
      for(var i=0;i<a.length;i++) {
        var option = a[i];
        html += "<option value='" + option + "'>" + option + "</option>";
      }
      $("#subType").html(html);

      $("#subType").val(data.subType);
      $.post("/getActions", {subType:data.subType, type:data.type}, function(b) {
        var html = "<option value=''>全部</option>";
        for(var i=0;i<b.length;i++) {
          var option = b[i];
          html += "<option value='" + option + "'>" + option + "</option>";
        }

        $("#action").html(html);
        $("#action").val(data.action);
        $("#score").val(data.score);
        $("#subScore").val(data.subScore);
        $("#actionScore").val(data.actionScore);
        $("#newBtn").click();
      });
    });
  });
  return false;
}

function saveWord() {
  var _id = $("#_id").val();
  var type = $("#type").val();
  var subType= $("#subType").val();
  var action = $("#action").val();
  var score = $("#score").val();
  var subScore = $("#subScore").val();
  var actionScore = $("#actionScore").val();
  var word = $("#word").val();

  $.post("/save", {_id:_id, type:type, subType:subType, action:action, score:score, subScore:subScore, actionScore:actionScore, word:word}, function(result) {
    if(result === "ok") {
      window.location.reload();
    }
  });
}

function searchWords() {
  var searchType = $("#searchType").val();
  if(searchType === "__") {
    searchType = "";
  }
  var searchSubType = $("#searchSubType").val();
  if(searchSubType === "__") {
    searchSubType = "";
  }
  var searchAction = $("#searchAction").val();
  window.location.href = "/list?type=" + searchType + "&subType=" + searchSubType + "&action=" + searchAction;
}

function removeWord(id) {
  $.post("/remove", {id:id}, function(data) {
    if(data === "ok") {
      window.location.reload();
    } else {
      alert('失败');
    }
  });
}
</script>